.footer-range{
    background-color: #200E32;
    padding: 10px 82px;
}

.general-div{
    display: flex;
    color: #fff;
    gap: 72px;
    padding: 82px 0px;
    margin-bottom: -50px;
}
.housing-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-logos{
    display: flex;
    text-align: center;
    gap: 10px;
}
.footer-logos p{
     padding-top: 10px;
     color: #FFF;
    font-family: 'Montserrat';
    font-size: 24.771px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text-lorem{
    width: 472px;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px; 
}
.social-media-handles ul{
    display: flex;
    gap: 20px;
    
}
ul{
    list-style-type: none;
}

.summary{
    display: flex;
    justify-content: center;
    gap: 85px;
    line-height: 50px;
     
}
h3{
    color: #FFF;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 161.7%; 
}
.copywrite{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    padding: 82px 0px;
    margin-top: -60px;
}
.terms ul{
    display: flex;
    gap: 106px;
}
.contacts li{
    color: #FFF;
    text-align: justify;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
    color: #FFF;
}

@media screen and (max-width:768px) {
    .footer-range{
        padding: 30px 29px;
    }

    .general-div{
        display: flex;
        flex-direction: column;
        color: #fff;
        gap: 20px;
        padding: 10px 0px;
        margin-bottom: -50px;
    }


    .text-lorem{
        width: 330px;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
    }

    .summary{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 71px;
        line-height: 50px;  
    }
    hr{
        display: none;
    }

    .copywrite{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        color: #FFF;
        padding: 82px 0px;
        margin-top: -60px;
    }

    .terms ul{
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    .bookshy{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        margin-bottom: -70px;
    }
}


