.NFT-market-place{
    background: #200E32;
    flex-shrink: 0;
    padding: 82px 0;
}

.NFT-head-txt{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 82px;

}

.NFT{
    color: #F09A58;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
}
.loremN-txt{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    width: 580px;
}

.NFT-buttons{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 20px 82px;
}

.N-btn{
    display: flex;
    padding: 13.431px 20.146px;
    align-items: flex-start;
    gap: 9.593px;
    border-radius: 26.862px;
    background: #FFF;
    border: none;
}
.mobile-view{
    display: none;
}

.comedy{
    display: flex;
    padding: 13.431px 20.146px;
    align-items: flex-start;
    gap: 9.593px;
    border-radius: 26.862px;
    border: 0.959px solid #FFF;
    background: #200E32;

    color: #FFF;
    font-family: 'Montserrat';
    font-size: 16.309px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.NFT-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 82px;
    gap: 19px;
}
.NFT-cards img{
    width: 280px;
    height: 543px;
    flex-shrink: 0;
}

.load{
    display: inline-flex;
    padding: 17px 21px;
    align-items: flex-start;
    gap: 10px;
    background: #FFF;
    box-shadow: -3px 2px 0px 0px #F09A58;
    border: none;
}
.NFT-bottom-btn{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .NFT-market-place{
        padding: 29px 0;
    }
    .NFT-head-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 0px 29px;
    
    }

    .loremN-txt{
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        width: 320px;
    }

    .NFT-buttons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 10px;
        padding: 20px 29px;
    }
    .comedy{
        display: flex;
        padding: 8px 10px;
        align-items: flex-start;
        gap: 7px;
    }
    .N-btn{
        display: flex;
        padding: 13.89px 20.834px;
        align-items: flex-start;
        gap: 9px;
    }

    .card1{
        display: none;
    }
    .mobile-view{
        display: block;
        text-align: center;
        line-height: 50px;
        gap: 20px;
        padding: 20px 0;
    }

    .NFT-cards{
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        
    }
    .NFT-cards img{
        width: 300px;
        height: 478px;
    }

}
